.i{
    animation: anime ease 20s infinite;
}

@keyframes anime{
   0%{
    transform: translateX(-600px);
   } 
   100%{
    transform: translateX(500px);
   }
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    animation: logo ease 2s forwards;
    animation-delay: 2s;
}

@keyframes logo{
    100%{
       display: none;
    }
}